/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Desktop Stylsheet

******************************************************************/

html {
	font-size: 16px;
}

.wrap {
	width: 930px;
}

.header {
	font-size: 1rem;
}

.logo {
	width: 11rem;
	height: 4rem;
	padding: 1.875rem 2.75rem;
	
	img {
		margin: 0;
	}
}

.primary-nav {
	padding-left: 16.5rem;
	
    > li {
		ul.sub-menu,
		ul.children {
			width: calc(100% - 16.5rem);
			height: 3.65rem;
			top: 4.1rem;
			padding: 1.2rem 0 1rem 2.5rem;

			li {
				padding: 0 1rem;

				a {
					font-size: 0.625rem;
				}

			}
		}
	}
}

.row {
	&.stylise {
		> div {
			background: $light-gray;
			
			.col-6 {
				&:last-child {
					padding: 3rem 1rem 0;
					padding-right: 10%;
					
					&:after {
						content: '';
						position: absolute;
						display: block;
						z-index: 1;
						width: 0;
						height: 0;
						border-top: 50rem solid $light-gray;
						border-left: 20rem solid transparent;
						right: 50%;
						bottom: 0;
					}
				}
			}
		}
		
		&:nth-child(odd) {
			.col-6 {
				
				&:last-child {
					padding-left: 10%;
					padding-right: 1rem;
					
					&:after {
						right: auto;
						left: 50%;
						border-right: 20rem solid transparent;
						border-left: none;
					}
				}
			}
		}
	}
}