/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html {
	font-size: 14px;
}

body {}


/*********************
FONT STYLES
*********************/

p, .p {
	font-size: 1em;
}

.narrow-para {
	max-width: 60%;
}

/*********************
HEADER STYLES
*********************/

.header {
	position: relative;
	font-size: 0.8rem;
}

#inner-header {
	position: relative;
}

.logo {
	width: 9rem;
    height: 6rem;
	top: 0;
	left: 0;
	padding: 1rem .5rem 1rem 1.75rem;
	
	&:after {
		border-top: 4.25rem solid $white;
	}
	
	img {
		margin: 1.5rem 0;
	}
	
	.footer & {
		background: darken($blue, 10%);
		width: 7rem;
		padding: 1.2rem;
		margin-top: 0;
		
		&:after {
			border-top: 5rem solid darken($blue, 10%);
			border-right: 2.85rem solid transparent;
		}
		
		img {
			margin: 0;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

.menu-button {
	display: none;
}

.nav {
	.menu-item {
		display: inline-block;
		
		a {
			text-decoration: none;
		}
	}
}

.socket {
	display: block;
	background: lighten($gray, 35%);
	text-align: right;
	font-size: 0.675rem;
	padding: 0.75em 1em;
}

.socket-nav {
	display: inline-block;
	margin: 4px 0 0 0;
	vertical-align: middle;
	
	> li {
		> a {
			color: $white;
			margin: 0 1em;
			outline: none !important;
			
			&:before {
				content: "\007c";
				display: inline-block;
				margin-right: 2em;
				color: $white !important;
			}
			
			&:hover, &:focus {
				color: $blue;
			}
		}
		
		&:first-child {
			a:before {
				content: '';
				display: none;
			}
		}
	}
}

.search-box {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
	
	#s {
		background: none;
		color: $white;
		border-bottom: 1px solid $white;
		border-left: none;
		border-top: none;
		border-right: none;
		outline: none;
		padding: 0;
		width: 190px;
		font-size: 0.675rem;
		
		@include placeholder {
			color: $white;
		}
	}
	
	button {
		top: 1px;
		left: -2px;
		position: relative;
		border: none;
		outline: none;
		background: none;
		padding: 0;
		color: $white;
	}
}

.primary-nav {
	position: relative;
    padding-left: 18.5rem;
	max-height: none;
	background: none;
	overflow: visible;

	> li {
		border: none;
		padding: 0;
		
		> a {
			color: $blue;
			outline: none;
			padding: 1.5rem 1.75em;
			padding-bottom: calc(1.5rem - 7px);
			border-bottom: 7px solid $white;
			font-size: 0.9em;
			
			&:hover,
			&:focus {
				color: $gray;
			}
			
			&:before, &:after {
				content: '';
				position: absolute;
				display: block;
				bottom: -7px;
				width: 0;
				height: 0;
				opacity: 0;
				@include transition (all 0.2s ease-in-out);
			}
			
			&:before {
				right: -5px;
				border-right: 5px solid transparent;
			}

			&:after {
				left: -5px;
				border-left: 5px solid transparent;
			}
			
			&.active {
				color: $gray;
				border-color: $blue !important;
				
				&:before, &:after {
					opacity: 1;
				}

				&:before {
					border-top: 7px solid $blue !important;
				}

				&:after {
					border-bottom: 7px solid $blue !important;
				}
			}
		}

		ul.sub-menu,
		ul.children {
			position: absolute;
			overflow: visible;
			background: rgba($blue, .9);
			width: 100%;
			width: calc(100% - 10rem);
			height: 4.1rem;
			opacity: 0;
			visibility: hidden;
			top: 3.9rem;
			right: 200%;
			margin: 0;
			padding: 1.4rem 0 1rem 2.5rem;
			text-align: left;
			font-size: 0;
			z-index: 8;
			@include transition (all 1s ease-out);
			
			&.active {
				right: 0%;
				opacity: 1;
				visibility: visible;
			}

			li {
				vertical-align: middle;
				text-align: left;
				display: inline-block;
				padding: 0 1rem;
				border: none;

				a {
					color: $white;
					font-weight: bold;
					font-size: 0.625rem;
					display: inline;
    				padding: 0;
					border: none;
					
					br {
						display: block;
					}
					
					&:hover,
					&:focus {
						text-decoration: underline;
						text-decoration-style: dotted;
					}
				}

			}
			
			&:after {
				content: '';
				position: absolute;
				display: block;
				width: 0;
				height: 0;
				border-top: 3.65rem solid rgba($blue, .9);
				border-right: 2.85rem solid transparent;
				z-index: -1;
				right: -2.85rem;
				top: 0;
			}
			
			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

	} /* end .menu li */

	/* highlight current page */
	> li.current_page_item,
	> li.current-menu-ancestor,
	> li.current-menu-item,
	> li.current_page_ancestor {
		> a {
			border-color: $alt-blue;
			
			&:before, &:after {
				opacity: 1;
			}
			
			&:before {
				border-top: 7px solid $alt-blue;
			}

			&:after {
				border-bottom: 7px solid $alt-blue;
			}
		}
	}
}

.mobile-links {
	display: none !important;
}


/*********************
POSTS & CONTENT STYLES
*********************/

.featured-image {
	width: 100%;
    margin-left: auto;
}

.page-title {
	left: 0;
	width: 100%;
	font-size: 1rem;
	padding-left: 10%;
	
	p {
		width: 38%;
	}
}

.detail-bottom {
    width: 36%;
}

.entry-content {
	padding: 5rem 4rem;
	font-size: 1rem;
	
	ul {
		&.col-2 {
			padding: 0;
			
			li {
				width: 48%;
				display: inline-block;
			}
		}
	}
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 760px;
	
	&.entry-content {
		max-width: 100%;
	}
}

.row {
	padding: 3rem 5rem;
	
	.wrap.entry-content {
		padding: 0 4rem 3rem;
	}
	
	&.full {
		.row-title {
			position: absolute;
			color: $white;
			font-size: 4em;
			width: 50%;
			height: 9rem;
			top: 50%;
			margin: -4.5rem 25% 0;
			text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.27);
		}
	}
	
	&.stylise {
		> div {			
			.col-6 {
				overflow: hidden;

				&:last-child {
					padding: 1rem 2rem;
				}
			}
		}
		
		&:nth-child(odd) {
			.col-6 {
				&:first-child {
					order: 2;
				}
				
				&:last-child {
					order: 1;
				}
			}
		}
	}
	
	&.bg-colour {
		margin-bottom: 3rem;
		
		&:before, &:after {
			content: '';
			position: absolute;
			display: block;
			width: 0;
			height: 0;
		}
		
		&:before {
			border-top: 16em solid $white;
    		border-right: 9rem solid transparent;
			top: 0;
			left: 0;
		}
		
		&:after {
			border-bottom: 16em solid $white;
    		border-left: 9rem solid transparent;
			bottom: 0;
			right: 0;
		}
		
		.page-id-27 &.bg-colour6 {
			&:before {
				display: none;
			}
		}
		
		.page-id-27 &.bg-colour7 {
			&:after {
				display: none;
			}
		}
	}
	
	.page-contact-us & {
		&.bg-colour {
			margin-bottom: 0;
			
			&:before, &:after {
				display: none;
			}
		}
	}
}

#home_slider, #fullBleed_slider {
	.sa_hover_container {
		@include prefix(flex-direction, row, webkit ms);
	}
}

#home_slider {
	background: $light-gray;
	
	.sa_hover_container {
		padding: 3% !important;
		
		img {
			margin-bottom: 0;
		}
	}
}

.white .owl-carousel.sa_owl_theme {
	.sa_hover_container {
		.col-6 {
			&.right {
				order: 2;
			}
			
			&.left {
				order: 1;
				background: none;
				
				h4 {
					text-align: left;
					width: 80%;
				}
				
				p {
					text-align: left;
					width: 70%;
				}
				
				&:after, &:before {
					content: '';
					position: absolute;
					display: block;
					z-index: -1;
				}
				&:before {
					width: 40%;
					height: 100%;
					background: $blue;
					top: 0;
					left: 0;
				}
				&:after {
					width: 0;
					height: 0;
					border-bottom: 50rem solid $blue;
					border-right: 20rem solid transparent;
					left: 40%;
					top: 0;
				}
			}
		}
	}
	
	.owl-nav {
		button {
			top: 50%;
		}
		
		.owl-next {
			background: transparent url(../images/arrows.png) no-repeat -12px 0 !important;
			background-size: 25px !important;
		}
	}
	
	.owl-dots {
		display: block;
		width: 50% !important;
		right: 0;
		bottom: 2.5rem !important;
		
		.owl-dot {
			outline: none;
			
			span {
				width: 12px !important;
    			height: 12px !important;
				border: 1px solid $blue !important;
				background-color: $white !important;
			}
			
			&.active {
				span {
					background-color: $blue !important;
				}
			}
		}
	}
	
	&#fullBleed_slider {
		.sa_hover_container {
			.col-6 {
				&.left {
					width: 65%;
					padding: 0;
				}
				
				&.right {
					width: 35%;
					
					&:after {
						content: '';
						position: absolute;
						display: block;
						z-index: 1;
						width: 0;
						height: 0;
						border-top: 50rem solid #f6f6f7;
						border-left: 20rem solid transparent;
						right: 35%;
						top: 0;
						
						.page-careers & {
							border-top: 50rem solid $blue;
						}
					}
				}
			}
			
			h4 {
				width: 80%;
			}
			
			p {
				width: 80%;
			}
						
			.home & {
				.col-6 {
					&.left {
						width: 55%;
					}

					&.right {
						width: 45%;
						
						&:after {
							right: auto;
							left: 45%;
							border-top: none;
							border-bottom: 50rem solid $blue;
							border-left: none;
							border-right: 20rem solid transparent;
						}
					}
					
					h4 {
						margin-left: 20%;
					}

					p {
						margin-left: 20%;
					}
				}
			}
		}
	}
}

.flex {
	@include prefix(flex-direction, row, webkit ms);
	
	.flex-panel {
		width: 33.333%;
	}
}

.rollover-wrapper {
	.home & {
		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
		}
		
		&:before {
			left: 0;
			top: -8rem;
			width: 12rem;
			height: 8rem;
			background: $light-gray;
		}
		
		&:after {
			width: 0;
			height: 0;
			border-bottom: 8rem solid $light-gray;
			border-right: 5rem solid transparent;
			z-index: -1;
			left: 12rem;
			top: -8rem;
		}
	}
}

.rollover {
	h4 {
		font-size: 2em;
	}
}

.blog-highlights {
	.narrow-para {
		max-width: 60%;
	}
	
	h3 {
		padding-left: 22.25%;
		font-size: 1.65em;
	}
	
	.post-item {
		.post-title {
			width: 70%;
			margin-left: 2%;
			margin-top: 0;
			line-height: 1;
		}
		
		.date {
			width: 20%;
		}
	}
	
	p:not(.date) {
		font-size: 1em;
		padding-left: 22.75%;
	}
}

.image-links {
	> div {
		.col-4 {
			width: 33%;
		}
	}
}

.fts-twitter-div {
	@include prefix(flex-wrap, nowrap, webkit moz ms);
	
	.fts-tweeter-wrap  {
		width: 33%;
	}
}


.locations {
	img {
		margin: 0;
	}
	
	.pin {
		.description {
			display: block;
			position: absolute;
			width: auto;
			min-width: 9rem;
			height: auto;
			bottom: 20px;
			left: 10px;
			background: $blue;
			color: $white;
			font-size: 0.7rem;
			padding: 1rem;
			opacity: 0;
			visibility: hidden;
			z-index: 11;
			@include transition(all 0.2s ease-in-out);
			
			h3 {
				position: absolute;
				height: 2.5rem;
				background: $blue;
				left: 0;
				top: -1.5rem;
				margin: 0;
				line-height: 3rem;
				padding: 0 1rem;
				text-transform: uppercase;
				font-family: $condensed;
				font-size: 2em;
				
				&:after {
					content: '';
					position: absolute;
					display: block;
					width: 0;
					height: 0;
					border-bottom: 2.5rem solid $blue;
					border-right: 1.5rem solid transparent;
					z-index: -1;
					right: -1.5rem;
					top: 0;
					z-index: 1;
				}
			}
			
			ul {
				float: left;
    			width: 200px;
				margin-right: 1rem;
				@include prefix(column-count, 2, webkit moz ms);
				
				li {
					display: inline-block;
					width: 100%;
				}
			}
			
			p {
				width: 130px;
				margin-bottom: 0;
				font-size: 0.9em;
				
				b, strong {
					font-size: 1.1em;
				}
			}
		}
		
		&.active {
			.description {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.features-list {
	li {
		width: 23%;
		margin-bottom: 0;
	}
	
	&.inline {		
		li {
			width: 70%;
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

.widgettitle {
	border-bottom: 2px solid #444;
	margin-bottom: 0.75em;
}

.widget {
	padding: 0 10px;
	margin: 2.2em 0;

	ul {
		li {
			margin-bottom: 0.75em;

			ul {
				margin-top: 0.75em;
				padding-left: 1em;
			}
		}
	}
}


/*********************
FOOTER STYLES
*********************/

.footer-panel {
	.widget_media_image {
		display: block;
		float: left;
		font-size: 0;
		position: relative;
		width: 55%;
		
		img {
			
		}
		
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 0;
			height: 0;
    		border-bottom: 50rem solid darken($blue, 10%);
			border-left: 18rem solid transparent;
			z-index: 10;
			left: calc(100% - 18rem);
			bottom: 0;
		}
	}
	
	.widget_text {
		float: right;
		width: 45%;
		
		.textwidget {
			padding: 2rem 4rem 0 0;
			max-width: 500px;
		}
	}
}

.footer {
	padding: 2.5rem 4rem;
	margin-top: 1rem;
	
	&:before {
		width: 15%;
		height: 220%;
	}
	
	&:after {
		right: 15%;
		top: -120%;
	}
	
	.page-contact-us & {
		margin-top: 0;
		
		&:before, &:after {
			display: none;
		}
	}
}

.footer-links {
	margin: 0;
	
	ul {
		padding-left: 13%;
		float: left;

		li {
			margin: 0 10px;
			font-size: 1em;
		}
	}
}

#teconsent > a {
	float: left;
	margin-left: 2%;
	font-size: 1rem;
	margin-bottom: 0;
}

.copyright {
	margin: 0;
	text-align: left;
}