/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html {
	font-size: 12px;
}

body {
	font-family: $sans-serif;
	line-height: 1.3;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

#container {
	overflow: hidden;
}

img {
	height: auto;
	pointer-events: none;
	
	&.size-full {
		max-width: 100%;
		width: 100%;
	}
	
	&.alignleft {
		float: left;
	}
	
	&.alignright {
		float: right;
	}
	
	&.aligncenter {
		display: block;
		margin: auto;
	}
}

hr {
	margin: 2.5rem 0;
}

.aspect-ratio {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56%;
	margin: 2rem 0 0;
	
	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}

/********************
WORDPRESS BODY CLASSES
********************/

.blog {
	.entry-title {
		line-height: 1;
		font-size: 1em;
		height: 2rem;
		margin-top: 0.5em;
		
		a {
			color: lighten($black, 20%);
			font-size: 1.3em;
			
			&:hover, &:focus {
				color: lighten($black, 40%);
			}
		}
	}
	
	.posts-main {		
		.post {
			padding: 1.5rem;
			float: none;
		}
		
		p {
			margin: 0;
    		font-size: 0.9em;
			height: 2.5rem;
		}

		img {
			max-width: 100%;
		}
	}
	
	.image-thumb {
		display: block;
	}
}

.archive {
	@extend .blog;
}

.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */

.single {
	.wrap.post {
		max-width: 95%;
	}
}

//.blog, .archive, .single {
//}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
	margin: 0 auto;
}

.row {
	position: relative;
	padding: 2rem;
	
	&.full {
		padding: 0;
		
		div, p, img {
			padding: 0;
			margin: 0;
		}
		
		.row-title {
			color: $gray;
			text-align: center;
			font-size: 2em;
		}
	}
	
	&.stylise {
		overflow: hidden;
		margin: 3rem 0;
		font-size: 0;
		
		> div {
			@extend .flex;
			
			.col-6 {
				overflow: hidden;

				&:last-child {
					font-size: 1rem;
					padding: 3rem 1rem 0;
					padding-right: 10%;
					
					h2 {
						margin: 0;
					}
					
					p {
						color: $blue;
						margin: 0;
					}
					
					ul {
						padding-left: 1em;
						
						li {
							line-height: 1.75;
    						margin-bottom: .5rem;
							
							&:before {
								content: "•";
								color: $alt-blue;
								display: block;
								position: relative;
								max-width: 0;
								max-height: 0;
								left: -1em;
								top: 0;
							}
						}
					}
				}
			}
		}
	}
	
	&.bg-colour {
		padding-bottom: 0;
	}
	
	.wrap.entry-content {
		padding: 0;
	}
	
	.row-title {
		margin-left: 10px;
	}
}

.flex {
	display: inline-block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	@include prefix(flex-direction, column, webkit ms);
	@include prefix(justify-content, space-around, webkit ms);
	padding: 0;
	line-height: 30px;

	.flex-panel {
		display: inline-block;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
		@include prefix(flex, 1 1 auto, webkit ms);
		@include prefix(justify-content, center, webkit ms);
		@include prefix(align-items, center, webkit ms);
		width: 100%;
		
		&:before {
			content:'';
			float:left;
			padding-top:90%;
		}
	}
}

.rollover-wrapper {
	position: relative;
}

.rollover {
	position: relative;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	
	h4 {
		position: relative;
		color: $white;
		text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
		font-size: 3em;
		font-weight: bold;
		opacity: 1;
		top: 0;
		@include transition(all 0.3s ease-in-out);
	}
	
	&:hover, &:focus {
		h4 {
			top: -50px;
			opacity: 0;
		}
		
		.rollover-content {
			opacity: 1;
			
			p {
				bottom: 0;
			}
		}
	}
	
	.rollover-content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba($blue, 0.6);
		padding: 30% 1.5rem 0;
		opacity: 0;
		@include transition(all 0.3s ease-in-out);
		
		p {
			position: relative;
			color: $white;
			font-size: 0.9em;
			bottom: -50px;
			@include transition(all 0.3s ease-in-out);
		}
	}
}

#home_slider {
	.sa_hover_container {
		padding: 0 !important;
		
		img {
			margin-bottom: -4rem;
			z-index: 10;
    		position: relative;
		}
	}
}

.white .owl-carousel.sa_owl_theme {
	.sa_hover_container {
		position: relative;
		display: inline-block;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		@include prefix(flex-direction, column, webkit ms);
		@include prefix(flex-wrap, nowrap, webkit ms);
		@include prefix(justify-content, center, webkit ms);
		@include prefix(align-items, center, webkit ms);

		.col-6 {
			position: static;
			float: none;
			padding: 0;
			-webkit-box-flex: 1;
			@include prefix(flex, 1 1 auto, webkit ms);
			@include prefix(align-items, stretch, webkit ms);
			
			img {
				display: block;
				margin: auto;
			}
			
			&.left {
				padding: 5rem 3rem;
				order: 2;
				background: $blue;
				
				h4 {
					color: $alt-blue;
					font-weight: normal;
					font-size: 3em;
					width: 100%;
					text-align: center;
				}
				
				p {
					font-size: 1.2em;
					color: $white;
					width: 100%;
					text-align: center;
				}
			}
			
			&.right {
				order: 1;
			}
		}
	}
	
	.owl-nav {
		button {
			width: 13px !important;
    		height: 18px !important;
			margin-top: -9px !important;
			top: 75%;
			
			&:hover {
				background-color: transparent !important;
			}
		}
		
		.owl-prev {
			background: transparent url(../images/arrows.png) no-repeat 0 0 !important;
			background-size: 25px !important;
			left: 2rem;
		}
		
		.owl-next {
			background: transparent url(../images/arrows.png) no-repeat -12px 0 !important;
			background-size: 25px !important;
			right: 2rem;
		}
	}
	
	.owl-dots {
		display: none;
	}
	
	&#galpharm_slider {
		.owl-nav .owl-prev {
			background: transparent url(../images/arrows.png) no-repeat 0 -19px !important;
			background-size: 25px !important;
		}
		
		.owl-dots {
			width: 100% !important;
			bottom: 0 !important;
		}
	}
	
	&#fullBleed_slider {
		.sa_hover_container {
			.col-6 {
				&.left {
					width: 100%;
					padding: 0;
					
					&:after, &:before {
						display: none;
					}
				}
				
				&.right {
					width: 100%;
					padding: 2rem;
				}
			}
			
			h4 {
				font-weight: normal;
				font-size: 2em;
				width: 100%;
				text-align: center;
			}
			
			p {
				width: 100%;
				text-align: center;
				color: $alt-blue;
			}
			
			.home & {
				.col-6 {
					&.left {
						order: 2;
					}

					&.right {
						order: 1;
						
						h3 {
							text-align: center;
							
							 a {
								color: $white;
								display: inline-block;
							}
						}
						
						img {
							width: 60%;
							margin: auto;
						}
					}
				}
			}
		}
		
		.owl-dots {
			width: 42% !important;
			
			.owl-dot {
				span {
					background-color: transparent !important;
					border-color: white !important;
				}
				
				&.active span {
					background-color: white !important;
				}
			}
		}
	}
}

.blog-highlights {
	.narrow-para {
		max-width: none;
	}
	
	h3 {
		color: $blue;
		font-weight: bold;
		font-size: 2em;
   		margin-bottom: 1rem;
		padding-left: 10px;
	}
	
	.post-item {
		font-size: 0;
		
		.post-title, .date {
			font-size: 1.2rem;
			display: inline-block;
			vertical-align: top;
			margin: 0;
			line-height: 1;
		}
		
		.post-title {
			text-decoration: none;
			margin-bottom: 1.75rem;
			margin-top: 5px;
			line-height: 1.5;
			
			&:after {
				content: '';
				position: relative;
				top: -1px;
				left: 3px;
				border: solid $alt-blue;
				border-width: 0 3px 3px 0;
				display: inline-block;
				padding: 3px;
				transform: rotate(-45deg);
				@include transition(all 0.2s ease-in-out);
			}
			
			&:hover,
			&:focus {
				&:after {
					left: 10px;
				}
			}
		}
		
		.date {
			color: $alt-blue;
			font-weight: 500;
		}
	}
	
	p:not(.date) {
		margin: 0;
		padding-left: 10px;
		font-size: 1.5em;
	}
}

.locations {
	margin-bottom: 5rem;
	padding: 1rem;
	position: relative;
	
	img {
		max-width: 100%;
		margin: -10px 0;
	}
	
	.pin {
		position: absolute;
		width: 25px;
		cursor: pointer;
		
		&.united-states {
			top: 39%;
    		left: 24%;
			
			.description {
				width: 400px;
				height: 160px;
				
				p {
					float: left;
					width: 120px;
				}
			}
		}
		
		&.mexico {
			top: 45%;
    		left: 17%;
		}
		
		&.perrigo-company-plc {
			top: 28%;
    		left: 44%;
			
			.description {
				width: 320px;
			}
		}
		
		&.israel {
			top: 43%;
    		left: 55.5%;
		}
		
		&.india {
			top: 49%;
    		left: 67.5%;
		}
		
		&.china {
			top: 46.5%;
    		left: 77%;
		}
		
		&.australia {
			top: 73%;
    		left: 77.5%;
			
			.description {
				width: 200px;
			}
		}
		
		&.united-kingdom--ireland {
			top: 29%;
    		left: 46%;
			
			.description {
				width: 370px;
			}
		}
		
		&.europe {
			left: 49.3%;
    		top: 30%;
		}
		
		img {
			position: relative;
			z-index: 10;
			@include transition(transform 0.2s ease-in-out);
		}
		
		&:hover, &:focus, &.active {
			img {
				transform: scale(1.2);
				z-index: 12;
			}
		}
		
		.description {
			display: none;
		}
	}
}

.fts-twitter-div {
	display: inline-block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	@include prefix(flex-wrap, wrap, webkit moz ms);
	
	.fts-tweeter-wrap  {
		width: 100%;
		vertical-align: top;
		background: $light-gray;
		padding: 1rem;
		margin: .5rem;
		@include box-sizing(border-box);
	}
	
	.fts-powered-by-text {
		.fts-powered-by-text-popup & {
			display: none !important;
		}
		
		display: none !important;
	}
	
	.fts-twitter-text {
		margin-top: 0;
	}
	
	.tweeter-info {
		.time {
			display: block;
			
			a {
				display: block;
				margin-top: 1rem;
			}
		}
		
		.fts-twitter-full-name {
			color: $gray;
			font-weight: normal;
			font-size: 1.35rem !important;
			margin: 0;
			line-height: 1.1;
		}
		
		.fts-right {
			padding: 0;
		}
	}
	
	.fts-twitter-no-margin-left {
		margin-left: 0;
	}
	
	.fts-tweet-others-right {
		margin-left: 45px;
	}
	
	img {
		margin: 0;
	}
	
	.fts-uppercase {
		margin-left: 1rem;
		
		a {
			display: block;
		}
	}
}

.image-links {
	> div {
		@include prefix(flex-wrap, wrap, webkit ms);
		@include prefix(justify-content, flex-start, webkit ms);
		
		.col-4 {
			float: none;
			width: 100%;
		}
	}
	
	img {
		max-width: 100%;
	}
	
	h3 {
		font-weight: normal;
		margin: 1rem 0;
		
		a {
			display: inline;
		}
	}
	
	.main-image {
		position: relative;
		font-size: 0;
		line-height: 0;
	}
	
	.img-overlay {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 5rem;
		padding: 1rem;
		overflow: hidden;
		background: rgba(255,255,255,0.6);
		
		img {
			height: auto;
			width: auto;
			max-width: 65%;
			max-height: 100%;
		}
	}
}

.features-list {
	counter-reset: section;
	display: inline-block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	@include prefix(justify-content, space-between, webkit ms);
	@include prefix(flex-wrap, wrap, webkit ms);
	
	li {
		width: 100%;
		padding: 1rem;
		font-size: 1rem;
		margin-bottom: 1rem;
		background: $light-gray;
		
		&:before {
			counter-increment: section;
			content: counter(section);
			font-family: $condensed;
			font-size: 2em;
			color: $alt-blue;
			display: block;
			text-align: center;
		}
		
		h4 {
			text-align: center;
			font-weight: normal;
		}
		
		p {
			font-size: 0.8em;
		}
	}
	
	&.inline {
		display: inline-block;
		
		li {
			position: relative;
			width: 100%;
			padding-left: 2rem;
			background: none;
			font-size: 1.2rem;
			
			&:before {
				position: absolute;
				left: 0;
			}
		}
		
		h4 {
			text-align: left;
		}
	}
}

.flair {
	padding-left: 0;
	
	h3 {
		margin: 0.5em 0;
	}

	li {
		position: relative;
		list-style-type: none;
		font-size: 1.15rem;
		padding-right: 2rem;
		padding-top: 1rem;
		padding-left: 0;
		margin-bottom: 3rem;
		background: url(../images/flair.png) no-repeat 0 0;
		background-size: 6rem;
		
		&:before, &:after {
			display: none;
		}
	}
}

/*********************
LINK STYLES
*********************/

a {
	color: $link-color;
	text-decoration: none;
	outline: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5, P STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	line-height: 1.2;
	
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 3.2em;
	line-height: 1.2;
	margin-top: 0;
}

h2, .h2 {
	font-size: 2.75em;
	margin: .35em 0 .5em;
}

h3, .h3 {
	font-size: 1.75em;
	font-weight: normal;
	margin: 1em 0 0.5em;
	
	a {
		position: relative;
		padding-right: 10px;
		display: block;
		
		&:hover:after {
			left: 10px;
		}
		
		&:after {
			content: '';
			position: relative;
			top: -2px;
			left: 3px;
			border: solid $alt-blue;
			border-width: 0 3px 3px 0;
			display: inline-block;
			padding: 5px;
			transform: rotate(-45deg);
			@include transition(all 0.2s ease-in-out);
		}
	}
	
	&.p {
		a:after {
			top: 1px;
		}
	}
}

h4, .h4 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0.25em 0;
}

h5, .h5 {
	font-size: 1.2em;
}

p, .p {
	line-height: 1.5;
	font-size: 1.2em;
	margin: 0.85em 0 1.2em;
	font-weight: normal;
}

.copy-l {
	font-size: 120% !important;
}

.narrow-para {
	max-width: 80%;
	margin-left: auto !important;
	margin-right: auto !important;
}

.nowrap {
	white-space: nowrap;
	color: inherit;
	font-weight: inherit;
}

/*********************
HEADER STYLES
*********************/

.header {
	font-size: 1rem;
	position: fixed;
	width: 100%;
	z-index: 999;
	
	&.active {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 999;
		
		.primary-nav {
			max-height: 1000px;
			max-height: 100vh;
			padding-top: 8rem;
			overflow-y: scroll;
		}
		
		.menu-button {
			position: absolute;
			z-index: 9999;
			left: 0;
			right: 0;
			left: auto;
			background-position: -31px 0;
		}
	}
}

.logo {
	position: absolute;
	z-index: 10;
	width: 11rem;
	height: 4rem;
	display: block;
    float: left;
	background: $white;
	font-size: 0;
	padding: 1.5rem 1.2rem 1.5rem 1.85rem;
	margin: 0;
	@include box-sizing(content-box);
	
	img {
		max-width: 100%;
		height: auto;
	}

	a {
		color: $black;
	}
	
	&:after {
		content: '';
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-top: 7.25rem solid $white;
		border-right: 2.85rem solid transparent;
		z-index: -1;
		right: -2.85rem;
		bottom: 0;
	}
	
	.footer & {
		background: darken($blue, 10%);
		width: 7rem;
		height: auto;
		padding: 1.2rem;
		
		&:after {
			border-top: 5rem solid darken($blue, 10%);
			border-right: 2.85rem solid transparent;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

.menu-button {
	float: right;
	margin: 1.2rem 1.25rem 1.1rem;
	line-height: 1;
    font-size: 2.4em;
	background-image: url(../images/menu-button.png);
	background-repeat: no-repeat;
	background-size: 60px;
	background-position: 0 0;
	width: 30px;
	height: 24px;
	@include transition(all 0.3s ease-in-out);
}

.nav {
	.menu-item {
		display: block;
	}
}

.primary-nav {
	position: fixed;
	margin: 0 auto;
	padding-top: 0;
	text-align: center;
	max-height: 0px;
	max-height: 0vh;
    overflow: hidden;
	width: 100%;
	height: 100%;
	background: lighten($alt-blue, 15%);
	@include transition(all 0.2s ease-in-out);
	
	li {
		a {
			font-weight: 500;
			font-size: 1.4em;
			color: $white;
		}
	}
	
	> li {
		padding: 0 2.5rem;
		
		> a {
			position: relative;
			display: block;
			text-decoration: none;
			padding: 1.35rem 0 1rem;
			text-align: left;
			border-bottom: 1px solid $white;
			@include transition(all 0.2s ease-in-out);
		}
		
		&.mobile-links {
			a {
				font-weight: normal;
				font-size: 1.2em;
				border: none;
				padding: 2rem 0 1rem;
			}
		}
		
		ul.sub-menu,
		ul.children {
			overflow: hidden;
			background: $alt-blue;
			margin: 0 -2.5rem;
			padding: 0;
			z-index: 10;
			max-height: 0;
			@include transition(max-height 0.2s ease-in-out);
			
			&.active {
				max-height: 550px;
			}

			li {
				padding: 0 2.5em;
				@media only screen and (min-width: 1370px) {
					padding: 0 2rem !important;
					padding: 0 2.5vw !important;
				}

				a {
					display: block;
					padding: 1.35rem 0 1rem;
					outline:0;
					text-align: left;
					border-bottom: 1px solid $white;
					
					br {
						display: none;
					}
					
					&:hover,
					&:focus {						
						text-decoration:none;
						opacity:0.8;
					}
				}
			}
		}
	}
}

/*
.nav {
	border-bottom: 0;
	margin: 1.65em 0;
	background: $light-gray;

	> li {
		list-style: none;
		border-bottom: 1px solid $gray;

		> a {
			position: relative;
			display: block;
			text-decoration: none;
			padding: 1.9rem 1.75em;
			text-align: left;
			@include transition(all 0.2s ease-in-out);
		}
		
		&.menu-item-has-children {
			> a {
				&:after {
					content: '';
					position: absolute;
					width: 0; 
					height: 0;
					top: 2.1rem;
    				right: 2rem;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-top: 8px solid $gray;
				}
				
				&.active:after {
					transform: rotate(180deg);
				}
			}
		}

		&:first-child {}

		&:last-child {}
		
		ul.sub-menu,
		ul.children {
			overflow: hidden;
			background: darken($light-gray, 15%);
			margin: 0;
			padding: 0;
			z-index: 10;
			max-height: 0;
			@include transition(max-height 0.2s ease-in-out);
			
			&.active {
				max-height: 550px;
			}

			li {
				border-top: 1px solid $gray;

				a {
					display: block;
					padding: 1.9rem 1.75em;
					outline:0;
					text-align: left;
					
					&:hover,
					&:focus {						
						text-decoration:none;
						opacity:0.8;
					}

					&:link {}

				}

				&:first-child {}

				&:last-child {
					a {
						padding-bottom: 25px;
					}
				}

			}
		}

	}

	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}

}
*/

.socket {
	display: none;
}


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	position: relative;
	font-size: 1rem;
	
	&.push {
		margin-top: 6rem;
	}
}

.featured-image {
	width: 270%;
    margin-left: -85%;
	position: relative;
	overflow: hidden;
	padding-bottom: 2rem;
}

.page-title {
	position: absolute;
	font-size: .8rem;
	left: 30%;
	width: 30%;
	bottom: 1rem;
	padding: 3rem;
	z-index: 100;

	h1 {
		margin: 0;
		font-size: 4.5em;
		line-height: 1;
		font-family: $condensed;
		text-transform: uppercase;
	}

	p {
		font-size: 1.2em;
		font-weight: 500;
		line-height: 1.3;
		margin: 0;
		width: 61%;
	}

	h1, h2, h3, h4, h5, p {
		color: $white;
	}
}

.detail-bottom {
	position: absolute;
	height: 40%;
    width: 36%;
	bottom: 0;
	left: 0;
	background: rgba($alt-blue, .6);
	mix-blend-mode: multiply;
	
	&:after {
		content: '';
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-top: 40em solid rgba(0, 165, 219, 0.6);
    	border-right: 15rem solid transparent;
		z-index: -1;
		right: -15rem;
		top: 0;
		z-index: 1;
	}
}

.hentry {
} /* end .hentry */

.single-title,
.entry-title {
	margin: 0;
}

/* post meta */
.byline {
	color: lighten($black, 20%);
	margin: 0;

	time {}
}

.post-item {
	padding: 10px;
	
	.post-thumb {
		display: block;
	}
	
	img {
		max-width: 100%;
	}
}

.archive-title, .single-title {
	text-align: center;
	color: $gray;
	margin-bottom: 0;
}

.archive-description {
	text-align: center;
}

.entry-content {
	padding: 2rem;
	font-size: .9rem;

	ul, ol, table, dl {}

	ul, ol {

		li {}

	}

	ul {
		list-style-type: disc;
		margin-bottom: 2em;

		li {
			margin-bottom: .5em;
			padding-left: 1em;
			list-style-type: none;
			
			&:before {
				content: '\2022';
				display: block;
				position: relative;
				max-width: 0;
				max-height: 0;
				left: -1em;
				top: 0;
				color: $alt-blue;
			}
		}
		
		&.flair {
			@extend .flair;
		}
		
		&.col-2 {
			width: 100%;
		}
	}

	ol {

		li {}

	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
		color: $meta-gray;

		&:before {}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}
}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

// the tag output
.tags {
	margin: 0;
	color: $black;
	
	a {
		color: lighten($black, 40%);
		text-decoration: none;
	}
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination {
 		text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
		
		&:last-child {
			border: none;
		}
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $white;
		background-color: $blue;
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0 0.5rem;
	margin: 1.5rem 0 0;
	line-height: 1.3;
	border-bottom: 1px solid $pale-green;

}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5rem 10px;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: lighten($black, 40%);
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

		}

		.avatar {
			position: absolute;
			left: 10px;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 15px 0 15px 7px;
	}
}

/* comment content */
.comment_content {

	p {
		margin: 0.7335em 0 1.5em;
		font-size: 1em;
		line-height: 1.5em;
	}

} /* end .commentlist .comment_content */

/* comment reply link */
a.comment-reply-link {
	@extend .primary-btn;
	font-size: 0.9em;
	float: right;
	padding: 0.3em 0;
	min-width: 5em;

	&:hover,
	&:focus {
	}

} /* end .commentlist .comment-reply-link */

/* edit comment link */
.comment-edit-link {
	font-style: italic;
	margin: 0 7px;
	text-decoration: none;
	font-size: 0.9em;
}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5rem 0;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .primary-btn;
		float: right;
		font-size: 0.9em;
		padding: 0.3em 0;
		min-width: 8em;
		margin-right: 0;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.pre-footer {
	h2 {
		font-weight: 900;
	}
}

.footer {
	clear: both;
	padding: 0;
	background: $blue;
	position: relative;
	
	a, p, li {
		color: $white;
	}
	
	&:after, &:before {
		content: '';
		position: absolute;
		display: block;
		mix-blend-mode: multiply;
	}
	
	&:before {
		width: 35%;
		height: 15%;
		background: rgba($alt-blue, .8);
		bottom: 0;
		right: 0;
	}
	
	&:after {
		width: 0;
		height: 0;
		border-bottom: 50rem solid rgba($alt-blue, .8);
		border-left: 24rem solid transparent;
		right: 35%;
    	top: 85%;
	}
}

.footer-links {
	clear: both;
	position: relative;
	z-index: 20;
	margin: 3rem 0;
	
	ul {
		margin: 0;
		border: none;
		text-align: center;
		list-style-type: none;

		li {
			display: inline-block;
			border: none;
			margin: 2rem;
			font-size: 1.3em;
			
			a {
				display: inline-block;
				text-transform: none;
				padding: 0;
				margin: 0;
				font-size: 1em;
				text-decoration: none;
				border: none;
				
				&:hover, &:focus {
					text-decoration: underline;
				}
			}
			
			&:first-child {
				a {
					margin-left: 0;
				}
			}
		}

	}
}

#teconsent > a {
	font-size: 1.2rem;
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 2rem;
}

.copyright {
	float: left;
	font-size: 0.85em;
	margin: 0 0 0 2em;
    text-align: center;
}